/* .row{
  background-color: aquamarine;
} */
.btn{
  background-color: antiquewhite;
  color: purple;
  width:100px; 
  height:30px;
  margin-left: 50px;
}
.myList{
  background-color: lightcyan;
  float: left;
  padding: 20px 0;
  border: 2px solid white;
  list-style: none;
  width: 44%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: purple;
}

/* .col{

} */




.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
